.jumbotron {
  background: #f1f3f5;
  color: #233342;
  padding-bottom: 100%; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #0a060e; }
  .jumbotron p {
    color: #233342;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    overflow: hidden;
    border-radius: 50px;
    width: 200px;  
    height: 185px;
    margin: auto; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid rgb(24, 20, 20);
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #233342;
  color: rgb(248, 240, 240);
  font-size: 17px;
  border: 1px solid rgb(17, 10, 10);
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #2285d6;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}


table, .th, .td {
            
  border: 2px solid black;
  border-collapse: collapse;
  border: 2px solid black;
  table-layout: fixed;
  width: 100%;  
  height: 1.5cm;
  text-align:center
}
 th, td {
  padding: 10px;
  word-wrap: break-word;
  width: 100px; 
}






