<!DOCTYPE html>
<html>
<head>
  <title>Node.js Getting Started on Heroku</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>
<body>
  
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <a href="/results-twitter"><span class="glyphicon glyphicon-book"></span> Twitter Results</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="jumbotron text-center">
  
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <p><%= data %></p>
    <h1>Getting Started on Heroku with Node.js NITTTTTTTTTTTTTTTTt</h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <form class="example" action="action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

 
  
</div>

    


</body>
</html>
