
<!DOCTYPE html>
<html>
<head>
  <title>Twitter user search</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
    overflow: hidden; /* Hide scrollbars */
    }
  </style>
  </head>
  
</head>

<body>

  
  <!--Useful Links-->

  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-right">
            <a href="https://clb-sentiment-analysis.herokuapp.com/"><span class="glyphicon glyphicon-book"></span> Twitter Sentiment Analysis </a>
          </li>
          <li class="navbar-right">
            <a href="/users-search"><span class="glyphicon glyphicon-book"></span> Twitter Users Search </a>
          </li>
          <li class="navbar-right">
            <a href="/search-tweets"><span class="glyphicon glyphicon-book"></span> Twitter Search Tweets</a>
          </li>
        </ul>
    </div>
  </nav>

<div class="jumbotron text-center">
  
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/twitter-logo.jpg">
    </a>
    <!--Search Engine-->

    <h1 style="font-size:200%;"> Users Search</h1>
    <form class="example"  method="GET", action="users-search-api-v1-twitter">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>


  
</div>




</body>
</html>
